<div class="h-screen w-full">
  <div
    class="fixed z-10 h-14 w-screen border-b-2 border-b-neutral-100 bg-white dark:border-b-neutral-600 dark:bg-black"
  >
    <shc-header></shc-header>
  </div>
  <div class="fixed h-screen w-60 border-r-2 border-r-neutral-100 pt-14 dark:border-r-neutral-600">
    <shc-sidebar></shc-sidebar>
  </div>
  <div class="w-full pl-60 pt-14">
    <div class="min-h-[calc(100vh-54px-2px)] bg-neutral-50 p-6 dark:bg-black">
      <router-outlet />
    </div>
  </div>
</div>
