# Server Configuration
PORT=3000
API_VERSION=v1

# JWT Configuration
ACCESS_TOKEN=your-super-secret-access-token-key-here
REFRESH_TOKEN=your-super-secret-refresh-token-key-here

DATABASE_URL=mongodb://localhost:27017/
DATABASE_NAME=harvest-church

# Environment
NODE_ENV=development
